.t3-icon-status {
	background-image:url('../images/icons/t3-icon-status.png') !important;
}

.t3-icon-status.t3-icon-version-17 {
	background-position: 0 0px !important;
}
.t3-icon-status.t3-icon-version-44 {
	background-position: 0 -24px !important;
}
.t3-icon-status.t3-icon-version-40 {
	background-position: 0 -48px !important;
}
.t3-icon-status.t3-icon-version-47 {
	background-position: 0 -72px !important;
}
.t3-icon-status.t3-icon-version-5 {
	background-position: 0 -96px !important;
}
.t3-icon-status.t3-icon-overlay-deleted {
	background-position: 0 -120px !important;
}
.t3-icon-status.t3-icon-version-3 {
	background-position: 0 -144px !important;
}
.t3-icon-status.t3-icon-overlay-includes-subpages {
	background-position: 0 -168px !important;
}
.t3-icon-status.t3-icon-version-21 {
	background-position: 0 -192px !important;
}
.t3-icon-status.t3-icon-dialog-ok {
	background-position: 0 -216px !important;
}
.t3-icon-status.t3-icon-version-18 {
	background-position: 0 -240px !important;
}
.t3-icon-status.t3-icon-version-46 {
	background-position: 0 -264px !important;
}
.t3-icon-status.t3-icon-version-38 {
	background-position: 0 -288px !important;
}
.t3-icon-status.t3-icon-status-checked {
	background-position: 0 -312px !important;
}
.t3-icon-status.t3-icon-version-19 {
	background-position: 0 -336px !important;
}
.t3-icon-status.t3-icon-dialog-error {
	background-position: 0 -360px !important;
}
.t3-icon-status.t3-icon-version-14 {
	background-position: 0 -384px !important;
}
.t3-icon-status.t3-icon-version-39 {
	background-position: 0 -408px !important;
}
.t3-icon-status.t3-icon-version-no-version {
	background-position: 0 -432px !important;
}
.t3-icon-status.t3-icon-user-group-backend {
	background-position: 0 -456px !important;
}
.t3-icon-status.t3-icon-status-edit-read-only {
	background-position: 0 -480px !important;
}
.t3-icon-status.t3-icon-version-11 {
	background-position: 0 -504px !important;
}
.t3-icon-status.t3-icon-user-group-frontend {
	background-position: 0 -528px !important;
}
.t3-icon-status.t3-icon-status-permission-granted {
	background-position: 0 -552px !important;
}
.t3-icon-status.t3-icon-warning-lock {
	background-position: 0 -576px !important;
}
.t3-icon-status.t3-icon-version-45 {
	background-position: 0 -600px !important;
}
.t3-icon-status.t3-icon-overlay-hidden {
	background-position: 0 -624px !important;
}
.t3-icon-status.t3-icon-version-4 {
	background-position: 0 -648px !important;
}
.t3-icon-status.t3-icon-version-28 {
	background-position: 0 -672px !important;
}
.t3-icon-status.t3-icon-version-24 {
	background-position: 0 -696px !important;
}
.t3-icon-status.t3-icon-version-15 {
	background-position: 0 -720px !important;
}
.t3-icon-status.t3-icon-overlay-icon-missing {
	background-position: 0 -744px !important;
}
.t3-icon-status.t3-icon-version-33 {
	background-position: 0 -768px !important;
}
.t3-icon-status.t3-icon-dialog-information {
	background-position: 0 -792px !important;
}
.t3-icon-status.t3-icon-version-22 {
	background-position: 0 -816px !important;
}
.t3-icon-status.t3-icon-user-frontend {
	background-position: 0 -840px !important;
}
.t3-icon-status.t3-icon-version-9 {
	background-position: 0 -864px !important;
}
.t3-icon-status.t3-icon-version-50 {
	background-position: 0 -888px !important;
}
.t3-icon-status.t3-icon-status-icon-missing {
	background-position: 0 -912px !important;
}
.t3-icon-status.t3-icon-version-29 {
	background-position: 0 -936px !important;
}
.t3-icon-status.t3-icon-version-13 {
	background-position: 0 -960px !important;
}
.t3-icon-status.t3-icon-version-6 {
	background-position: 0 -984px !important;
}
.t3-icon-status.t3-icon-user-backend {
	background-position: 0 -1008px !important;
}
.t3-icon-status.t3-icon-version-41 {
	background-position: 0 -1032px !important;
}
.t3-icon-status.t3-icon-version-16 {
	background-position: 0 -1056px !important;
}
.t3-icon-status.t3-icon-version-37 {
	background-position: 0 -1080px !important;
}
.t3-icon-status.t3-icon-system-extension-required {
	background-position: 0 -1104px !important;
}
.t3-icon-status.t3-icon-overlay-scheduled {
	background-position: 0 -1128px !important;
}
.t3-icon-status.t3-icon-version-34 {
	background-position: 0 -1152px !important;
}
.t3-icon-status.t3-icon-status-reference-soft {
	background-position: 0 -1176px !important;
}
.t3-icon-status.t3-icon-status-reference-hard {
	background-position: 0 -1200px !important;
}
.t3-icon-status.t3-icon-version-43 {
	background-position: 0 -1224px !important;
}
.t3-icon-status.t3-icon-version-2 {
	background-position: 0 -1248px !important;
}
.t3-icon-status.t3-icon-version-35 {
	background-position: 0 -1272px !important;
}
.t3-icon-status.t3-icon-version-49 {
	background-position: 0 -1296px !important;
}
.t3-icon-status.t3-icon-version-1 {
	background-position: 0 -1320px !important;
}
.t3-icon-status.t3-icon-overlay-locked {
	background-position: 0 -1344px !important;
}
.t3-icon-status.t3-icon-version-32 {
	background-position: 0 -1368px !important;
}
.t3-icon-status.t3-icon-version-36 {
	background-position: 0 -1392px !important;
}
.t3-icon-status.t3-icon-version-48 {
	background-position: 0 -1416px !important;
}
.t3-icon-status.t3-icon-version-30 {
	background-position: 0 -1440px !important;
}
.t3-icon-status.t3-icon-version-8 {
	background-position: 0 -1464px !important;
}
.t3-icon-status.t3-icon-status-locked {
	background-position: 0 -1488px !important;
}
.t3-icon-status.t3-icon-warning-in-use {
	background-position: 0 -1512px !important;
}
.t3-icon-status.t3-icon-status-workspace-draft {
	background-position: 0 -1536px !important;
}
.t3-icon-status.t3-icon-user-admin {
	background-position: 0 -1560px !important;
}
.t3-icon-status.t3-icon-overlay-scheduled-future-end {
	background-position: 0 -1584px !important;
}
.t3-icon-status.t3-icon-version-7 {
	background-position: 0 -1608px !important;
}
.t3-icon-status.t3-icon-version-10 {
	background-position: 0 -1632px !important;
}
.t3-icon-status.t3-icon-version-27 {
	background-position: 0 -1656px !important;
}
.t3-icon-status.t3-icon-version-23 {
	background-position: 0 -1680px !important;
}
.t3-icon-status.t3-icon-version-42 {
	background-position: 0 -1704px !important;
}
.t3-icon-status.t3-icon-dialog-notification {
	background-position: 0 -1728px !important;
}
.t3-icon-status.t3-icon-version-20 {
	background-position: 0 -1752px !important;
}
.t3-icon-status.t3-icon-status-current {
	background-position: 0 -1776px !important;
}
.t3-icon-status.t3-icon-version-25 {
	background-position: 0 -1800px !important;
}
.t3-icon-status.t3-icon-overlay-translated {
	background-position: 0 -1824px !important;
}
.t3-icon-status.t3-icon-version-31 {
	background-position: 0 -1848px !important;
}
.t3-icon-status.t3-icon-version-12 {
	background-position: 0 -1872px !important;
}
.t3-icon-status.t3-icon-dialog-warning {
	background-position: 0 -1896px !important;
}
.t3-icon-status.t3-icon-status-permission-denied {
	background-position: 0 -1920px !important;
}
.t3-icon-status.t3-icon-overlay-access-restricted {
	background-position: 0 -1944px !important;
}
.t3-icon-status.t3-icon-version-26 {
	background-position: 0 -1968px !important;
}