{namespace k=Tx_ExtbaseKickstarter_ViewHelpers}
<f:layout name="default" />

<f:section name="header">
	<k:be.configuration />
</f:section>

<f:section name="iconButtons">
	
</f:section>

<f:section name="content">
	<div id="tab-dm"></div>
<script type="text/javascript">
	if(!ORYX) var ORYX = {};
	if(!ORYX.CONFIG) ORYX.CONFIG = {};

	ORYX.CONFIG.ROOT_PATH = TYPO3.settings.extbase_kickstarter.oryx.root_path;// '{extPath}Resources/Public/Oryx/';

<![CDATA[
		function onOryxResourcesLoaded(){
			ORYX_LOGLEVEL = 5;
			ORYX.MashupAPI = {
				loadablePlugins: [
					'ORYX.Plugins.DragDropResize',
					'ORYX.Plugins.JSONSupport',
					'ORYX.Plugins.Undo',
					'ORYX.Plugins.Arrangement',
					'ORYX.Plugins.ShapeRepository',
					'ORYX.Plugins.PluginLoader',
					'ORYX.Plugins.Edit',
					//'ORYX.Plugins.Toolbar',
					'ORYX.Plugins.File',
					'ORYX.Plugins.CanvasResize',
					'ORYX.Plugins.HighlightingSelectedShapes',
					'ORYX.Plugins.Grouping',
					'ORYX.Plugins.File',
					'ORYX.Plugins.Save',
					'ORYX.Plugins.SSExtensionLoader',
					'ORYX.Plugins.DragDocker',
					'ORYX.Plugins.AddDocker',
					'ORYX.Plugins.RDFExport',
					'ORYX.Plugins.KeysMove',
					'ORYX.Plugins.RowLayouting',
					'ORYX.Plugins.ShapeHighlighting',
					'ORYX.Plugins.SelectionFrame',
					'ORYX.Plugins.ShapeMenuPlugin'
				],
			};
			new ORYX.Editor({
				fullscreen: false,
				//id: Ext.get('tab-dm').getEl().id,
				id: 'tab-dm',
				stencilset: {
					url: TYPO3.settings.extbase_kickstarter.oryx.root_path + 'stencilsets/workflownets/workflownets.json'
				}
			});
		}
		]]>
	</script>
	
</f:section>